<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>注册页面</title>
    <link rel="stylesheet" href="../../css/register.css">
    <link rel="stylesheet" href="../../css/base.css">
    <link href="../../plugins/element-ui/lib/theme-chalk/index.css">
</head>

<body>
<div id="app">
    <div class="box">
        <img src="../../image/logo.png" alt="">
        <div class="register">
            <form action="" method="post">
                <input type="text" placeholder="账号" id="username" v-model="user.username">
                <input type="password" placeholder="密码" id="password" v-model="user.pwd">
                <input type="text" placeholder="电话号码" id="phone" v-model="user.phone">
                <input type="email" placeholder="邮箱" id="email" v-model="user.email">
                <div class="checkC">
                    <input type="text" placeholder="验证码" id="checkCode" v-model="checkCode">
                    <img :src="imgCode" id="checkImg">
                    <a id="changeImg" v-on:click="changeImg()">看不清？</a>
                </div>
                <input type="button" id="btn" v-on:click="dosubmit()" value="注册">
            </form>
            <div class="foot">
                <p><a href="../login/login.html">登录</a></p>
                <p><a id="forget" href="../forgetPwd/forgetPwd.html">忘记密码</a></p>
            </div>
        </div>
    </div>
</div>


<script src="../../js/vue.js"></script>
<script src="../../plugins/element-ui/lib/index.js"></script>
<script src="../../js/axios-0.18.0.js"></script>
<script src="../../js/check.js"></script>


<script>
    new Vue({
        el: "#app",
        data: {
            checkCode: "",
            user: {
                username: "",
                pwd: "",
                phone: "",
                email: "",
            },
            imgCode: "/mikudd3/checkCode?" + new Date().getMilliseconds(),
        },
        methods:
            {
                validateForm() {
                    if (!this.user.username) {
                        alert("账号不能为空");
                        return false;
                    } else if (!this.user.pwd) {
                        alert("密码不能为空");
                        return false;
                    } else if (!this.user.phone) {
                        alert("电话不能为空");
                        return false;
                    } else if (!this.checkCode) {
                        alert("验证码不能为空");
                        return false;
                    } else if (!this.user.email) {
                        alert("邮箱不能为空")
                        return false;
                    } else {
                        return true;
                    }


                }
                ,
                dosubmit() {
                    if (this.validateForm()) {
                        axios({
                            method: "post",
                            url: "http://localhost:8080/mikudd3/register?checkCode=" + this.checkCode,
                            data: this.user,
                        }).then(resp => {
                            //如果注册成功
                            if (resp.data == "success") {
                                location.href = "http://localhost:8080/mikudd3/pages/login/login.html";
                            } else if (resp.data == "usernameHad") {
                                this.$message.error("注册失败,该用户已存在")
                            } else if (resp.data == "codeFail") {
                                this.$message.error("验证码错误")
                            }

                        }).catch(function () {
                            alert("这是catch")
                        })

                    }
                },
                changeImg() {
                    this.imgCode = "/mikudd3/checkCode?" + new Date().getMilliseconds();
                }
            },

    })

</script>
</body>

</html>