<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>MIKUDD3游戏商城</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
<div id="header">
    <div>
        <img src="image/logo.png">
        <span id="right">
                <a href="#hot">热销</a>
				<a href="#good">好评如潮</a>
				<a href="#dazhe">折扣</a>
                <input type="text" placeholder="搜索" id="ipu">
                <a href="login.html">登录</a>
				<a href="register.html">注册</a>
                <img src="./image/tx.jpg" id="tx">
        </span>
    </div>
</div>

<div id="main">
    <div id="m2">
        <div id="slider">
            <div class="slider-wrapper">
                <img :src="currentSlide.url" alt=""/>
            </div>
            <div class="slider-footer" :style="{backgroundColor: currentSlide.color }">
                <p>{{ currentSlide.title }}</p>
                <ul class="slider-indicator">
                    <li v-for="(slide, index) in slides" :key="index" :class="{ active: index === currentIndex }"></li>
                </ul>
                <div class="toggle">
                    <button class="prev" @click="prevSlide">&lt;</button>
                    <button class="next" @click="nextSlide">&gt;</button>
                </div>
            </div>
        </div>
    </div>
    <div id="m3" class="type">
        <div class="title" id="hot">
            <span>热销</span>
            <a href="#">查看更多 > </a>
        </div>
        <div class="content" id="hotgame">
            <table>
                <tr>
                    <td v-for="game in games" :key="game.id">
                        <a :href="game.link">
                            <img :src="game.image" alt="">
                            <div>{{game.title}}</div>
                            <div>{{game.price}}</div>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div id="m4" class="type">
        <div class="title" id="good">
            <span>好评如潮</span>
            <a href="#">查看更多 > </a>
        </div>
        <div class="content" id="goodgame">
            <table>
                <tr>
                    <td v-for="game in games" :key="game.id">
                        <a :href="game.link">
                            <img :src="game.image" alt="">
                            <div>{{game.title}}</div>
                            <div>{{game.price}}</div>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div id="m5" class="type">
        <div class="title" id="dazhe">
            <span>折扣</span>
            <a href="#">查看更多 > </a>
        </div>
        <div class="content" id="dazhegame">
            <table>
                <tr>
                    <td v-for="game in games" :key="game.id">
                        <a :href="game.link">
                            <img :src="game.image" alt="">
                            <div>{{game.title}}</div>
                            <div>{{game.price}}</div>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div id="footer">
    京公网安备 11010802020110号 © Copyright2023. mikudd3版权所有 | 京ICP备11024110号
</div>

<script src="js/vue.js"></script>
<script src="js/lbao.js"></script>
<script src="js/index.js"></script>
</body>

</html>