<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>找回密码</title>
    <link rel="stylesheet" href="../../css/forgetPwd.css">
    <link rel="stylesheet" href="../../css/base.css">
</head>

<body>
<div id="app">
    <div class="box">
        <img src="../../image/logo.png" alt="">
        <div class="register">
            <form action="">
                <input type="text" placeholder="账号" id="username" v-model="username">
                <input type="password" placeholder="密码" id="password1" v-model="password1">
                <input type="password" placeholder="再次输入密码" id="password2" v-model="password2">
                <div class="checkC">
                    <input type="text" placeholder="验证码" id="checkCode" v-model="checkCode">
                    <img src="" id="checkImg">
                    <a href="#" id="changeImg" v-on:click="changeImg()">看不清？</a>
                </div>
                <input type="button" id="btn" v-on:click="forgetPwd()" value="登录">
            </form>
            <div class="foot">
                <p><a href="../login/login.html">登录</a></p>
                <p><a id="register" href="../register/register.html">注册</a></p>
            </div>
        </div>
    </div>

</div>

<script src="../../js/vue.js"></script>
<script src="../../plugins/element-ui/lib/index.js"></script>
<link rel="stylesheet" href="../../plugins/element-ui/lib/theme-chalk/index.css">
<script src="../../js/axios-0.18.0.js"></script>

<script>

    new Vue({
        el: "#app",
        data: {
            user: {
                username: "",
                password: "",
            },
            username: "",
            password1: "",
            password2: "",
            checkCode: "",
        },
        mounted() {
            this.changeImg();
        },
        methods: {
            validateForm() {
                if (!this.password1) {
                    alert("密码不能为空");
                    return false;
                } else if (this.password1 !== this.password2) {
                    alert("两次输入的密码不一致");
                    return false;
                } else if (!this.password2) {
                    alert("密码不能为空");
                    return false;
                } else if (!this.checkCode) {
                    alert("验证码不能为空");
                    return false;
                } else {
                    this.user.username = this.username;
                    this.user.password = this.password1;
                    return true;
                }

            },
            forgetPwd() {
                if (this.validateForm()) {
                    // 这里可以提交表单数据
                    console.log("密码验证通过，提交表单");
                    axios({
                        method: "post",
                        url: "http://localhost:8080/forgetPassword?checkCode=" + this.checkCode + "&username=" + this.user.username + "&password=" + this.user.password,
                    }).then(Response => {
                        if (Response.data == "checkError") {
                            this.$message.error("验证码输入错误")
                        } else if (Response.data == "userNotFound") {
                            this.$message.error("用户未注册")
                        } else if (Response.data == "success") {
                            this.$message.success("修改成功")
                        }
                    }).catch(function () {
                        alert("catch")
                    }).finally(function () {
                        alert("finally")
                    })
                }
            },
            changeImg() {
                document.getElementById("checkImg").src = "/checkCode?" + new Date().getMilliseconds();
            }
        }


    })
    /* document.getElementById("changeImg").onclick = function () {
         document.getElementById("checkImg").src = "/mikudd3/checkCodeServlet?" + new Date().getMilliseconds();
     }*/
</script>
</body>

