<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>注册页面</title>
    <link rel="stylesheet" href="css/register.css">
    <link rel="stylesheet" href="css/base.css">
</head>

<body>
<div id="app">
    <div class="box">
        <img src="image/logo.png" alt="">
        <div class="register">
            <form action="" method="post">
                <input type="text" placeholder="账号" id="username" v-model="employee.username">
                <input type="password" placeholder="密码" id="password" v-model="employee.pwd">
                <input type="text" placeholder="电话号码" id="phone" v-model="employee.phone">
                <input type="email" placeholder="邮箱" id="email" v-model="employee.email">
                <div class="checkC">
                    <input type="text" placeholder="验证码" id="checkCode" v-model="checkCode">
                    <img src="" id="checkImg">
                    <a id="changeImg" @click="changeImg()">看不清？</a>
                </div>
                <input type="button" id="btn" @click="dosubmit()" value="注册">
            </form>
            <div class="foot">
                <p><a href="login.html">登录</a></p>
                <p><a id="forget" href="forgetPwd.html">忘记密码</a></p>
            </div>
        </div>
    </div>
</div>


<script src="js/vue.js"></script>
<script src="js/axios-0.18.0.js"></script>
<script src="js/register.js"></script>
</body>

</html>